*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    /* background-image: url(image/bg.jpg); */
    background-color: coral;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid >button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255 ,255,255, .75);
}
.calculator-grid >button:hover{
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

/* This makes the output screen take space from start column to last column */
/* Display flex helped the numbers on screen to take up space inside the screen in column, with much space around */
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    color: aliceblue;
    font-size:x-large;

}


